@{
    ViewBag.Title = "Home Page";
}
@{
    string name = User.Identity.Name;
    int position = name.IndexOf('@');
}
<div class="" style="background-color:white;">
    <div class="bg-orange text-white  p-3">
        <div class="p-2 m-0">
            <img src="~/Content/logo-white.png" class="img-fluid float-right" style="width:150px" />
        </div>
        <h1>Actualización de datos M&A</h1>
        <h5>Con el fin de tener actualizados sus datos personales y familiares y así poder cumplir con los eventuales requerimientos que nuestros clientes puedan solicitarnos como parte de sus políticas internas, agradeceremos completar el siguiente formulario</h5>
    </div>
    <p class="px-5 pt-3 m-0">
        Hola, <b>@name.Substring(0, position)</b>: al enviar este formulario, el propietario podrá ver su nombre y dirección de correo electrónico.
    </p>
    <br />
    <div class="px-5">
        <div class="textBlue">
            <p class="font-weight-bold"> 1.- Por favor ingresa los nombres y apellidos de tus padres y hermanos:</p>
            <div class="form-row px-2">
                <label class="col-md-3">PADRE</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Nombres" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control px-2" placeholder="Apellido Paterno" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Apellido Materno" />
                </div>

                <br /><br />
                <label class="col-md-3">MADRE</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Nombres" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control px-2" placeholder="Apellido Paterno" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Apellido Materno" />
                </div>
                <br />
                <br />
                <label class="col-md-3">HERMANO(A)</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Nombres" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control px-2" placeholder="Apellido Paterno" />
                </div>
                <div class="col-md-3">
                    <input type="text" class="form-control" placeholder="Apellido Materno" />
                </div>
                <button type="button" class="btn textBlue2 bgacero py-0 float-right" onclick="NuevoHermano();" style="font-size:1.4rem; position: relative; left: 100%;top: -36px;">+</button>

                <div id="nuevo-Hermano" class="p-0 mx-0 mb-0 form-row col-md-12" style="margin-top:-1.5em !important;"></div>

            </div>

        </div>
        <br />
        <div class="textBlue">
            <p class="font-weight-bold"> 2.- Actualmente tienes algún familiar hasta segundo grado de consanguineidad o afinidad (cónyuge, conviviente, pareja, hijos, padres, hermanos o abuelos) laborando o prestando servicios en el Estado o que en los últimos 5 años haya trabajado en el Estado?</p>
            <div class="px-0 mx-0">
                <div class="form-check" style="display:flex !important;">
                    <input class="form-check-input regular-radio" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Sí" onclick="SiNo()">
                    <label for="inlineRadio1" class="mb-0"></label>
                    <label class="form-check-label fontSizeDashSubDesc" for="inlineRadio1"> &nbsp; SI</label>
                </div>
                <div class="form-check mt-2" style="display:flex !important;">
                    <input class="form-check-input regular-radio" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="No" onclick="SiNo()">
                    <label for="inlineRadio2" class="mb-0"></label>
                    <label class="form-check-label fontSizeDashSubDesc" for="inlineRadio2">&nbsp; NO</label>
                </div>
            </div>
        </div>
        <br />
        <div class="textBlue d-none" id="oculto">
            <p class="font-weight-bold">2.1- Por favor indica sus datos a continuación:</p>
            <div class="px-0 mx-0 form-row">
                <label class="col-md-3 ">PARENTESCO</label>
                <input type="text" class="col-md-3 form-control" placeholder="" />

                <label class="col-md-3 text-center">NOMBRE COMPLETO</label>
                <input type="text" class="col-md-3 form-control" placeholder="" />
                <br /><br />
                <label class="col-md-3 ">FECHA DE NACIMIENTO</label>
                <input type="date" class="col-md-3 form-control" placeholder="" />

                <label class="col-md-3 text-center">ENTIDAD ESTATAL</label>
                <input type="text" class="col-md-3 form-control" placeholder="" />
                <br /><br />
                <label class="col-md-3 ">CARGO O POSICIÓN</label>
                <input type="text" class="col-md-3 form-control" placeholder="" />

            </div>
        </div>
        <br />
        <div class="textBlue" id="div3">
            <p class="font-weight-bold">3.- Si actualmente ejerces un cargo público o lo has desempeñado en el pasado, por ejemplo como director de una empresa pública, asesor, magistrado, vocal de algún tribunal administrativo o similares), por favor completar los siguientes campos: </p>
            <div class="px-0 mx-0 form-row">
                <label class="col-md-3 ">ENTIDAD ESTATAL</label>
                <input type="text" class="col-md-3 form-control" placeholder="" />
                <label class="col-md-3 text-center">CARGO O POSICIÓN</label>
                <input type="text" class="col-md-3 form-control" placeholder="" />
                <br /><br />
                <label class="col-md-3 ">FECHA</label>
                <input type="date" class="col-md-3 form-control" placeholder="" />
            </div>
        </div>
        <button type="button" class="btn textBlue2 bgacero py-0 mt-2 float-right" onclick="Nuevo3();" style="font-size:1.4rem;">+</button>

        <br />
        <br />
        <div class="textBlue bgacero p-2">
            <h3>DECLARACION JURADA</h3>
            <span>
                Mediante el presente documentos reconozco haber sido informado sobre la finalidad de la información solicitada para lo cual otorgo mi consentimiento. Asimismo, reconozco que la información brindada a través del presente documento virtual es verdadera y tiene calidad de declaración jurada.
            </span>
        </div>
        <br />
        <div class="text-center">
            <button type="button" class=" btn bg-orange text-white font-weight-bold">GUARDAR DATOS</button>
        </div>
        <br />

    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    var count1 = 0;
    var count2 = 0;
    function NuevoHermano() {
        count1++;
        $('#nuevo-Hermano').append(`<div id="div-${count1}" class="p-0 mx-0 mb-0 mt-2 form-row col-md-12">
                                        <label class="col-md-3"></label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="Nombres" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control px-2" placeholder="Apellido Paterno" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" placeholder="Apellido Materno" />
                                        </div>
                                        <button class="btn bg-orange position-absolute text-white" style="left:100%;" onclick="Remove1(${count1})">x</button>
                                    </div>
        `);
    }
    function Nuevo3() {
        count2++;
        $('#div3').append(`
                            <div class="px-0 mx-0 form-row mt-3" id="a-${count2}">
                                <hr class="w-100">
                                <label class="col-md-3 ">ENTIDAD ESTATAL</label>
                                <input type="text" class="col-md-3 form-control" placeholder="" />
                                <label class="col-md-3 text-center">CARGO O POSICIÓN</label>
                                <input type="text" class="col-md-3 form-control" placeholder="" />
                                <br /><br />
                                <label class="col-md-3 ">FECHA</label>
                                <input type="date" class="col-md-3 form-control" placeholder="" />
                                <button type="button" class="btn text-white bg-orange py-0 mt-2 position-relative" onclick="Remove(${count2});" style="font-size:1rem;left:47.5%;">x</button>

                            </div>`)
    }
    function SiNo() {
        var seleccionado = $("input[name='inlineRadioOptions']:checked").val();
        if (seleccionado == 'Sí') {
            $('#oculto').removeClass('d-none');
        } else {
            $('#oculto').addClass('d-none');

        }
    }

    function Remove1(id) {
        $("#div-" + id).remove();
    }
    function Remove(id) {
        $("#a-" + id).remove();
    }


</script>