@{
    ViewBag.Title = "Home Page";
}
@{
    
}

<div class="w-100" style="background-color: #F1F1F1; padding-left: 4%; padding-right: 4%;">

    <div class="img-login">
        <img class="img" src="~/Content/banner.png" />
        <img class="img-logo" style="width:12%" src="~/Content/logocolores.png" />
    </div>
    <br />

   
        @using (Html.BeginForm())
        {
            <div class="p-3">
                <p class="p-5 m-0 textBlue">
                    <h3 class="pb-2 textBlue2">Actualización de datos M&A</h3>
                    <div class="text-justify textBlue">Hola <b>@ViewBag.nombreUsuario</b>, con el fin de tener actualizados sus datos personales - familiares, y así poder cumplir con los eventuales requerimientos que nuestros clientes puedan solicitarnos como parte de sus políticas internas, agradeceremos completar el siguiente formulario. <br /><br /></div>
                    <div>
                        <span class="textBlue">Al enviar este formulario, el propietario podrá ver su nombre y dirección de correo electrónico.</span>
                        <span class="float-right">Campos Obligatorios (<span class="font-weight-bold" style="font-size:1.1rem;">*</span>)</span>
                    </div> 
                </p>
                <div class="">

                    <div class="accordion" id="accordionExample">


                        <div class="card">
                            <div class="card-header" id="headingOne" style="padding: 0.75rem 1.25rem;padding-left: 10px;">
                                <h2 class="mb-0 bg-white">
                                    <button class="btn btn-link btn-collapse textBlue2" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="outline: 0;color:#325262;text-decoration:none">
                                        <i class="fas fa-user"></i>&nbsp;  DATOS PERSONALES
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body px-5">
                                    <p class="font-weight-bold"> 1.- Por favor verifica los nombres y apellidos de tus padres y hermanos:</p>
                                    <div class="form-row pl-2 pr-0">
                                        <label class="col-md-3"><span class="textOrange2">* </span>PADRE</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control obligatorio" name="Tx_NombresPadre" placeholder="Nombres" required autocomplete="off" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control px-2 obligatorio" name="Tx_ApellidoPatPadre" placeholder="Apellido Paterno" required autocomplete="off" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control obligatorio" name="Tx_ApellidoMatPadre" placeholder="Apellido Materno" required autocomplete="off" />
                                        </div>

                                        <br /><br />
                                        <label class="col-md-3"><span class="textOrange2">* </span>MADRE</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control obligatorio" name="Tx_NombresMadre" placeholder="Nombres" required autocomplete="off" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control px-2 obligatorio" name="Tx_ApellidoPatMadre" placeholder="Apellido Paterno" required autocomplete="off" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control obligatorio" name="Tx_ApellidoMatMadre" placeholder="Apellido Materno" required autocomplete="off" />
                                        </div>
                                        <br />
                                        <br />
                                        <label class="col-md-3"><span class="text-white">* </span>HERMANO(A) &nbsp; <button type="button" class="btn btn-orange py-0 px-1" onclick="NuevoHermano();" style="color:white"><i class="fas fa-plus px-1"></i></button></label>

                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="Tx_NombresHermano" placeholder="Nombres" autocomplete="off" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control px-2" name="Tx_ApellidoPatHermano" placeholder="Apellido Paterno" autocomplete="off" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="Tx_ApellidoMatHermano" placeholder="Apellido Materno" autocomplete="off" />
                                        </div>

                                        <div id="nuevo-Hermano" class="p-0 mx-0 mb-0 form-row col-md-12"></div>

                                        @*nueva seccion de pareja*@
                                        <div class="col-md-3">

                                        </div>
                                        <div class="col-md-9">
                                            <hr class=" w-100" style="color:lightgray;background-color:lightgray" />
                                        </div>
                                        <label class="col-md-3"><span class="text-white">* </span>CÓNYUGE / PAREJA</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control " name="Tx_NombrePareja" placeholder="Nombres"  autocomplete="off" value="" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control px-2 " name="Tx_ApePatPareja" placeholder="Apellido Paterno"  autocomplete="off" value="" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control " name="Tx_ApeMatPareja" placeholder="Apellido Materno"  autocomplete="off" value="" />
                                        </div>
                                        <br /><br />

                                        <label class="col-md-3"><span class="text-white">* </span>SUEGRO</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control " name="Tx_NomSuegro" placeholder="Nombres"  autocomplete="off" value="" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control px-2 " name="Tx_ApePatSuegro" placeholder="Apellido Paterno"  autocomplete="off" value="" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control " name="Tx_ApeMatSuegro" placeholder="Apellido Materno"  autocomplete="off" value="" />
                                        </div>
                                        <br /><br />

                                        <label class="col-md-3"><span class="text-white">* </span>SUEGRA</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control " name="Tx_NomSuegra" placeholder="Nombres"  autocomplete="off" value="" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control px-2 " name="Tx_ApePatSuegra" placeholder="Apellido Paterno"  autocomplete="off" value="" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control " name="Tx_ApeMatSuegra" placeholder="Apellido Materno"  autocomplete="off" value="" />
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo" style="padding: 0.75rem 1.25rem;padding-left: 10px;">
                                <h2 class="mb-0 bg-white">
                                    <button class="btn btn-link collapsed btn-collapse textBlue2" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="outline: 0;color:#325262;text-decoration:none">
                                        <i class="fas fa-house-user"></i>&nbsp;  DATOS FAMILIARES
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="textBlue">
                                        <p class="font-weight-bold mb-0"> 2.- ¿En la actualidad tienes algún familiar hasta 2° grado de consanguinidad o afinidad laborando o prestando servicios en el Estado o que <u> en los últimos 5 años</u> ha trabajado en el Estado?</p>
                                        <div class="col-12 d-flex" style="font-size:.9em;">
                                            <div class="col-3">
                                                <ul>
                                                    <li>Cónyuge.</li>
                                                    <li>Conviviente.</li>
                                                    <li>Pareja.</li>
                                                   
                                                </ul>
                                            </div>
                                            <div class="col-3">
                                                <ul>
                                                    <li>Hijos.</li>
                                                    <li>Padres.</li>
                                                    <li>Hermanos.</li>

                                                </ul>
                                            </div>
                                            <div class="col-3">
                                                <ul>
                                                    <li>Abuelos.</li>
                                                    <li>Suegros.</li>
                                                    <li>Hermanastros(as).</li>
                                                  

                                                </ul>
                                            </div>
                                            <div class="col-3">
                                                <ul>
                                                    <li>Cónyuges o convivientes de los hijos.</li>
                                                    <li>Cónyuges o convivientes de los padres.</li>
                                                    <li>Cónyuges o convivientes de los hermanos (cuñados.)</li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="px-0 mx-0 text-center">
                                            <div class="form-check pr-4" style="display:inline !important;">
                                                <input class="form-check-input regular-radio" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Sí" onclick="SiNo()" required>
                                                <label for="inlineRadio1" class="mb-0"></label>
                                                <label class="form-check-label fontSizeDashSubDesc" for="inlineRadio1"> &nbsp; SI</label>
                                            </div>
                                            <div class="form-check pl-5" style="display:inline !important;">
                                                <input class="form-check-input regular-radio" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="No" onclick="SiNo()" required>
                                                <label for="inlineRadio2" class="mb-0"></label>
                                                <label class="form-check-label fontSizeDashSubDesc" for="inlineRadio2">&nbsp; NO</label>
                                            </div>
                                            <input type="number" name="Fl_CosanguiniedadEstado" id="Fl_CosanguiniedadEstado" value="" class="d-none" />

                                        </div>
                                    </div>
                                    <br />
                                    <div class="textBlue d-none" id="oculto">
                                        <p class="font-weight-bold">2.1- Por favor completa los siguientes campos:</p>
                                        <div class="p-4 mx-0 form-row bg-light">
                                            <label class="col-md-3 "><span class="textOrange2">* </span>PARENTESCO</label>
                                            <input type="text" class="col-md-3 form-control obli" name="Tx_Parentesco" placeholder="" autocomplete="off" />

                                            <label class="col-md-3 pl-5"><span class="textOrange2">* </span>NOMBRE COMPLETO</label>
                                            <input type="text" class="col-md-3 form-control obli" name="Tx_NombreCompleto" placeholder="" autocomplete="off" />
                                            <br /><br />
                                            <label class="col-md-3"><span class="textOrange2"></span>&nbsp;&nbsp;  FECHA DE NACIMIENTO</label>
                                            <input type="date" class="col-md-3 form-control" name="Fe_Nacimiento" placeholder="" autocomplete="off" />

                                            <label class="col-md-3 pl-5"><span class="textOrange2">* </span>ENTIDAD ESTATAL</label>
                                            <input type="text" class="col-md-3 form-control obli" name="Tx_Entidad" placeholder="" autocomplete="off" />
                                            <br /><br />
                                            <label class="col-md-3 "><span class="textOrange2">* </span>CARGO O POSICIÓN</label>
                                            <input type="text" class="col-md-3 form-control obli" name="Tx_Cargo" placeholder="" autocomplete="off" />

                                            <label class="col-md-2 pl-5 "><span class="textOrange2">  </span>&nbsp;&nbsp; PERÍODO <span style="color:lightgray"> (Mes de Año) </span></label>
                                            <div class="col-md-1 float-right">
                                                <small class=" px-0 mx-0 font-weight-bold float-right pt-2" style="color:gray">Desde</small><br /><br />
                                                <small class=" px-0 mx-0  font-weight-bold float-right pt-2" style="color: gray">Hasta</small>
                                            </div>
                                            <div class="col-md-3 mx-0 px-0 form-row">
                                                <input type="month" class="col-md-12 form-control px-1 mx-0" name="Tx_FeInicio" /><br /><br />
                                                <input type="month" class="col-md-12 form-control px-1  mx-0" name="Tx_FeFin" /><br /><br />
                                                <div class="form-row col-md-12">
                                                    <input class="col-md-1 mt-1" id="FamiliaEstado1" type="checkbox" onclick="CheckedLaborando('FamiliaEstado1')" />
                                                    <label class="col-md-10">Actualmente laborando</label>
                                                    <input class="d-none" type="number" name="Fl_Laborando" id="LaborandoFam_FamiliaEstado1" value="0" />
                                                </div>
                                            </div>


                                        </div>
                                        <div id="agregarfamilia"></div>
                                        @*<button type="button" class="btn textBlue2 bgacero py-0 position-relative" onclick="Nuevo2();" style="left:91%;">&nbsp;&nbsp; + Familiar &nbsp;&nbsp;</button>*@
                                        <button type="button" class="btn textBlue2 btn-orange  py-0 position-relative mt-2" onclick="Nuevo2();" style=" left: 97%;color:white"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree" style="padding: 0.75rem 1.25rem;padding-left: 10px;">
                                <h2 class="mb-0 bg-white">
                                    <button class="btn btn-link collapsed btn-collapse textBlue2" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="outline: 0;color:#325262;text-decoration:none">
                                        <i class="fas fa-briefcase"></i>&nbsp;  DATOS DE CARGOS PUBLICOS
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="textBlue" id="div3">

                                        <p class="font-weight-bold">3.- ¿En la actualidad o en los últimos 5 años has ejercido algún cargo público?. Ejm.: Director de una empresa pública, asesor, magistrado, vocal de algún tribunal administrativo o similares. </p>
                                        <div class="px-0 mx-0 text-center">
                                            <div class="form-check pr-4" style="display:inline !important;">
                                                <input class="form-check-input regular-radio" type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="Sí" onclick="SiNo2()" required>
                                                <label for="inlineRadio3" class="mb-0"></label>
                                                <label class="form-check-label fontSizeDashSubDesc" for="inlineRadio3"> &nbsp; SI</label>
                                            </div>
                                            <div class="form-check pl-5" style="display:inline !important;">
                                                <input class="form-check-input regular-radio" type="radio" name="inlineRadioOptions2" id="inlineRadio4" value="No" onclick="SiNo2()" required>
                                                <label for="inlineRadio4" class="mb-0"></label>
                                                <label class="form-check-label fontSizeDashSubDesc" for="inlineRadio4">&nbsp; NO</label>
                                            </div>
                                            <input type="number" name="Fl_CargoPublico" id="Fl_CargoPublico" value="" class="d-none" />

                                        </div>
                                    </div>
                                    <br />

                                    <div class="textBlue d-none" id="oculto2">
                                        <p class="font-weight-bold">3.1- Por favor completa los siguientes campos:</p>
                                        <div class="p-4 mx-0 form-row bg-light">
                                            <label class="col-md-3 "><span class="textOrange2">* </span>ENTIDAD ESTATAL</label>
                                            <input type="text" class="col-md-3 form-control obli2" name="EntidadEstatal" placeholder="" autocomplete="off" />

                                            <label class="col-md-2 pl-5"><span class="textOrange2">  </span>&nbsp;&nbsp; PERÍODO <span style="color:lightgray"> (Mes de Año) </span></label>
                                            <div class="col-md-1 float-right">
                                                <small class=" px-0 mx-0 font-weight-bold float-right pt-2" style="color:gray">Desde</small>
                                            </div>
                                            <div class="col-md-3 mx-0 px-0 form-row">
                                                <input type="month" class="col-md-12 form-control px-1 mx-0" name="Tx_FeInicioCargo" />
                                            </div>
                                            <br /><br />
                                            <label class="col-md-3"><span class="textOrange2">* </span>CARGO O POSICIÓN</label>
                                            <input type="text" class="col-md-3 form-control obli2" name="Cargo" placeholder="" autocomplete="off" />

                                            <label class="col-md-2"></label>
                                            <div class="col-md-1 float-right">
                                                <small class=" px-0 mx-0  font-weight-bold float-right pt-2" style="color: gray">Hasta</small>
                                            </div>
                                            <div class="col-md-3 mx-0 px-0 form-row">
                                                <input type="month" class="col-md-12 form-control px-1  mx-0" name="Tx_FeFinCargo" /><br /><br />
                                                <div class="form-row col-md-12">
                                                    <input class="col-md-1 mt-1" id="CargoEstado1" type="checkbox" onclick="CheckedLaborando('CargoEstado1')" />
                                                    <label class="col-md-10">Actualmente laborando</label>
                                                    <input class="d-none" type="number" name="Fl_LaborandoCargo" id="LaborandoFam_CargoEstado1" value="0" />

                                                </div>
                                            </div>

                                        </div>
                                        <div id="agregarcargo"></div>
                                        @*<button type="button" class="btn textBlue2 bgacero py-0 position-relative" onclick="Nuevo3();" style="left:91%;"> &nbsp;&nbsp;&nbsp;&nbsp; + Cargo &nbsp;&nbsp;&nbsp;&nbsp;</button>*@
                                        <button type="button" class="btn textBlue2 btn-orange  py-0 position-relative mt-2" onclick="Nuevo3();" style=" left: 97%;color:white"><i class="fas fa-plus"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br />
                    <br />
                    <div class="textBlue bgacero p-2">
                        <h3>DECLARACIÓN JURADA</h3>
                        <span>
                            Mediante el presente documento reconozco haber sido informado sobre sobre la finalidad de la información solicitada, para lo cual brindo mi consentimiento libre e informado. Asimismo, reconozco que la información brindada a través del presente documento virtual es verdadera y tiene calidad de declaración jurada.
                        </span>
                    </div>
                    <br />
                    <div class="text-center">
                        <button type="button" class=" btn text-white font-weight-bold" style="background-color: var(--btorange2)" data-toggle="modal" data-target="#ModalConfirmacion" id="guardar">ENVIAR DATOS</button>
                    </div>
                    <br /><br />
                </div>
            </div>

            <!-- Modal confirmacion-->
            <div class="modal fade" id="ModalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center textBlue2">
                            <h3> Está seguro de enviar la información?</h3>
                        </div>
                        <div class="text-center py-4">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button type="submit" class="btn bg-orange text-white font-weight-bold">Sí</button>
                        </div>
                    </div>
                </div>
            </div>



        }


</div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        var count1 = 0;
        var count2 = 0;
        var count3 = 0;
        var esLleno = 0;
        function NuevoHermano() {
            count1++;
            $('#nuevo-Hermano').append(`<div id="div-${count1}" class="p-0 mx-0 mb-0 mt-2 form-row col-md-12">
                                                <label class="col-md-3"></label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" name="Tx_NombresHermano" placeholder="Nombres" required/>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control px-2" name="Tx_ApellidoPatHermano"  placeholder="Apellido Paterno" required/>
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" name="Tx_ApellidoMatHermano" placeholder="Apellido Materno" required/>
                                                </div>
                                                <button class="btn btn-orange position-absolute text-white" style="font-size:1rem;left:100%; padding:3.5px 12px; bottom:1px;" onclick="Remove1(${count1})">x</button>
                                            </div>
                `);
        }
        function Nuevo3() {
            count2++;
            $('#agregarcargo').append(`
                                    <div class="px-4 pb-4 mx-0 form-row bg-light mt-3" id="a-${count2}">
                                       <div class="col-md-12 pb-2"><button type="button" class="btn textBlue2 py-0 float-right px-0" onclick="Remove(${count2});" style="font-size:1.4rem">x</button></div>

                                        <label class="col-md-3 "><span class="textOrange2">* </span>ENTIDAD ESTATAL</label>
                                        <input type="text" class="col-md-3 form-control" name="EntidadEstatal" placeholder="" required/>
                                        <label class="col-md-2 pl-5"><span class="textOrange2">  </span>&nbsp;&nbsp; PERÍODO <span style="color:lightgray"> (Mes de Año) </span></label>
                                            <div class="col-md-1 float-right">
                                                <small class=" px-0 mx-0 font-weight-bold float-right pt-2" style="color:gray">Desde</small>
                                            </div>
                                            <div class="col-md-3 mx-0 px-0 form-row">
                                                <input type="month" class="col-md-12 form-control px-1 mx-0" name="Tx_FeInicioCargo" />
                                            </div>
                                            <br /><br />
                                        <label class="col-md-3"><span class="textOrange2">* </span>CARGO O POSICIÓN</label>
                                        <input type="text" class="col-md-3 form-control" name="Cargo" placeholder="" required/>
                                          <label class="col-md-2"></label>
                                            <div class="col-md-1 float-right">
                                                <small class=" px-0 mx-0  font-weight-bold float-right pt-2" style="color: gray">Hasta</small>
                                            </div>
                                            <div class="col-md-3 mx-0 px-0 form-row">
                                                <input type="month" class="col-md-12 form-control px-1  mx-0" name="Tx_FeFinCargo" /><br /><br />
                                        <div class="form-row col-md-12">
                                                  <input class="col-md-1 mt-1" id="Car1_${count2}" type="checkbox" onclick="CheckedLaborando('Car1_${count2}')" />
                                                  <label class="col-md-10">Actualmente laborando</label>
                                                  <input class="d-none" type="number" name="Fl_LaborandoCargo" id="LaborandoFam_Car1_${count2}" value="0" />

                                        </div>
                                            </div>
                                        
                                    </div>`)
        }
        function SiNo() {
            var seleccionado = $("input[name='inlineRadioOptions']:checked").val();
            if (seleccionado == 'Sí') {
                $('#oculto').removeClass('d-none');
                $('#Fl_CosanguiniedadEstado').val(1);
                console.log($('.obli'))
                $('.obli').attr('required', true);
            } else {
                $('#oculto').addClass('d-none');
                $('#Fl_CosanguiniedadEstado').val(0);
                $('.obli').removeAttr('required');

            }

            var obligatorios = $('.obligatorio');
            obligatorios.each(function () {
                if (this.value == "") {
                    console.log('vacio');
                } else {
                    esLleno = 1;
                }
            });

            //console.log(esLleno);
            //if (esLleno == 1) {
            //    $('#guardar').removeAttr('disabled');
            //}
        }
        function SiNo2() {
            var seleccionado = $("input[name='inlineRadioOptions2']:checked").val();
            if (seleccionado == 'Sí') {
                $('#oculto2').removeClass('d-none');
                $('#Fl_CargoPublico').val(1);
                console.log($('.obli2'))
                $('.obli2').attr('required', true);
            } else {
                $('#oculto2').addClass('d-none');
                $('#Fl_CargoPublico').val(0);
                $('.obli2').removeAttr('required');

            }

            var obligatorios = $('.obligatorio2');
            obligatorios.each(function () {
                if (this.value == "") {
                    console.log('vacio');
                } else {
                    esLleno = 1;
                }
            });

            //console.log(esLleno);
            //if (esLleno == 1) {
            //    $('#guardar').removeAttr('disabled');
            //}
        }
        function Remove1(id) {
            $("#div-" + id).remove();
        }
        function Remove(id) {
            $("#a-" + id).remove();
        }
        function Remove3(id) {
            $("#divv-" + id).remove();
        }
        function Nuevo2() {
            count3++;
            $("#agregarfamilia").append(`<div class="px-4 pb-4 mx-0 form-row bg-light mt-3" id="divv-${count3}">
                                               <div class="col-md-12 pb-2"><button type="button" class="btn textBlue2 py-0 float-right px-0" onclick="Remove3(${count3});" style="font-size:1.4rem">x</button></div>
                                               
                                                <label class="col-md-3 "><span class="textOrange2">* </span>PARENTESCO</label>
                                                <input type="text" class="col-md-3 form-control" name="Tx_Parentesco" placeholder="" required/>
                                                <label class="col-md-3 pl-5"><span class="textOrange2">* </span>NOMBRE COMPLETO</label>
                                                <input type="text" class="col-md-3 form-control" name="Tx_NombreCompleto" placeholder="" required/>
                                                <br /><br />
                                                <label class="col-md-3 "><span class="textOrange2"> </span>&nbsp;&nbsp; FECHA DE NACIMIENTO</label>
                                                <input type="date" class="col-md-3 form-control" name="Fe_Nacimiento" placeholder="" />
                                                <label class="col-md-3 pl-5"><span class="textOrange2">* </span>ENTIDAD ESTATAL</label>
                                                <input type="text" class="col-md-3 form-control" name="Tx_Entidad" placeholder="" required/>
                                                <br /><br />
                                                <label class="col-md-3 "><span class="textOrange2">* </span>CARGO O POSICIÓN</label>
                                                <input type="text" class="col-md-3 form-control" name="Tx_Cargo" placeholder="" required/>
                                            <label class="col-md-2 pl-5 "><span class="textOrange2">  </span>&nbsp;&nbsp; PERÍODO <span style="color:lightgray"> (Mes de Año) </span></label>
                                    <div class="col-md-1 float-right">
                                        <small class=" px-0 mx-0 font-weight-bold float-right pt-2" style="color:gray">Desde</small><br /><br />
                                        <small class=" px-0 mx-0  font-weight-bold float-right pt-2" style="color: gray">Hasta</small>
                                    </div>
                                    <div class="col-md-3 mx-0 px-0 form-row">
                                        <input type="month" class="col-md-12 form-control px-1 mx-0" name="Tx_FeInicio"  /><br /><br />
                                        <input type="month" class="col-md-12 form-control px-1  mx-0" name="Tx_FeFin" /><br /><br />
                                            <div class="form-row col-md-12">
                                                <input class="col-md-1 mt-1" id="Fam1_${count3}" type="checkbox" onclick="CheckedLaborando('Fam1_${count3}')" />
                                                <label class="col-md-10">Actualmente laborando</label>
                                                <input class="d-none" type="number" name="Fl_Laborando" id="LaborandoFam_Fam1_${count3}" value="0" />

                                              </div>
                                    </div>
                                            </div>`)
        }


        //funcion checked 
        function CheckedLaborando(valor) {
            const valorCheckbox = document.getElementById(valor);

            if (valorCheckbox.checked) {
                $('#LaborandoFam_' + valor).val(1);

            } else {
                $('#LaborandoFam_' + valor).val(0);
            }
        }
    </script>
