
@{
    ViewBag.Title = "RegistroCorrecto";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<div style="padding-left: 10%; padding-right: 10%; background-color: #F1F1F1">

    <div class="img-login">
        <img class="img" src="~/Content/banner.png" />
        <img class="img-logo" style="width:12%"  src="~/Content/logocolores.png" />
    </div>


    <div class="pt-5" style="height:96.5vh;">
       
        <div class="pt-5 textBlue2 text-center">
            <p style="font-size:6rem;" class="pt-5"> <i class="far fa-check-circle"></i> </p><br />
            <h3>La información fue enviada correctamente!</h3>
            <br />
            <a class="btn text-white font-weight-bold" href="@Url.Action("HomeEdit", "Edit", new { })"  style="background-color:var(--btorange2)">Ir a Inicio</a>
        </div>
    </div>
</div>