
@{
    ViewBag.Title = "RegistroCorrecto";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<div class="" style="background-color:white;height:96.5vh;">
    <div class="bg-orange text-white  p-5">
        <div class="p-2 m-0">
            <img src="~/Content/logo-white.png" class="img-fluid float-right" style="width:150px" />
        </div>
        <span style="font-size:3rem;"> Actualización de datos M&A</span>

    </div>
    <div class="p-5 textBlue2">
        <p style="font-size:3rem;"> <i class="far fa-check-circle"></i> Gracias</p>
        <h3>La información fue enviada correctamente!</h3>
    </div>



</div>
