
@{
    ViewBag.Title = "RegistroCorrecto";
}


    <div class="" style="background-color:white;height:96.5vh;">
        <div class="bg-orange text-white  p-5">
            <div class="p-2 m-0">
                <img src="~/Content/logo-white.png" class="img-fluid float-right" style="width:150px" />
            </div>
            <h1>Gracias!</h1>
            
        </div>
        <div class="p-5 textBlue2" >
            <h4>La información fue actualizada correctamente</h4>
        </div>
       
       
        
    </div>
